@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
/*  font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700;800&display=swap');
/* font-family: 'Dosis', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600;700&display=swap');
/* font-family: 'Raleway', sans-serif; */

:root{
    --main-colors:#ff724c;
}
body{
    font-family: 'Roboto', sans-serif;  
}
h1,h2{
    font-family: 'Dosis', sans-serif; 
}
.border-main-color{
    border-color: var(--main-colors) !important;
}
/* css container*/
.container{
    max-width: 1140px;
    
}
.bg-main-color{
    background-color:var(--main-colors);
}
.text-main-color{

    color:var(--main-colors);
}
.buttn i{
    transition: 0.5s;
}
.buttn:hover i{
    transform: rotate(360deg);
    color: white !important;
    background-color: #333 !important;
}
.navbar .nav-link{
    padding-block: 10px;
    position: relative;

}
.navbar .nav-link::after{
    content: ' ';
    position: absolute;
    bottom: 0; 
    left: 0;
    height: 2px;
    width: 0;
    transition: 0.5s;
    background-color: var(--main-colors);
    
}
.navbar .nav-link.active::after{
    width: 100%;
}
.navbar .nav-link:hover:after{
    width: 100%;
}
.navbar{background: #f3f3f3}

/* css header*/

header{
    background-image: url(../img/introbg5.png);
    background-size: cover;
    background-position: -90px;
    background-repeat: no-repeat;
    
}
header p,header span{
    font-family: 'Raleway', sans-serif; 
    font-size: 23px;

}
h1{
    font-size: 60px;
    font-weight: 700;
}

header .icons i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    transition: 0.5s;
}
header .icons i:hover{
    transform: rotate(360deg);

}
header .icons i:nth-of-type(1){
color: #3b5999;
border-color: #3b5999;
}
header .icons i:nth-of-type(1):hover{

    background-color: #3b5999;
    color: white;
    }
header .icons i:nth-of-type(2){
    
    color: #ea4c89;
        border-color: #ea4c89;
}
header .icons i:nth-of-type(2):hover{

    background-color: #ea4c89;
    color: white;
    } 

header .icons i:nth-of-type(3){
 color: #1769ff;
 border-color: #1769ff;
}
header .icons i:nth-of-type(3):hover{
background-color: #1769ff;
color: white;
 }

header .icons i:nth-of-type(4){
color: #0077b5;
border-color: #0077b5;
 }
header .icons i:nth-of-type(4):hover{
background-color: #0077b5;
color: white;
}
header .icons i:nth-of-type(5){
color: #dd4b39;
border-color: #dd4b39;
}
header .icons i:nth-of-type(5):hover{
background-color: #dd4b39;
color: white;
}
.header-content p{
    width:0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #333;
    animation: typing 3s infinite alternate-reverse steps(27);
    -webkit-animation: typing 3s infinite alternate-reverse steps(27)both ,blink infinite 0.7s;
}
@keyframes typing{
    form {
        width: 0;
    }to{
        width: 314px;
    }
}
@keyframes blink{
    from{
        border-color: #333;
    }to{
        border-color: #33333300;
    }
}
/* css about*/
h2{
    font-size: 48px;
    font-weight: 700;
}
.custom-btn:hover i{
    color: var(--main-colors) !important;     
}
/* css services*/
.services .service-item{
    position: relative;
}
.services .service-item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f3f3f3;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    z-index: -1;
    height: 0;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.services .service-item:hover:after{
    height: 100%;
}
.services .service-item p{
    font-size: 14px;
    color: rgb(129,129,129);
}
.services .service-item h3{
    font-size: 20px;
}
/* css portfolio*/
.portfolio{
    background-color: #f3f3f3;
}
.portfolio .nav-link{
    font-size: 13px;
    font-family: 'Raleway', sans-serif; 
    color: rgb(95, 95, 95);
    border-color: rgb(95, 95, 95) !important;
}
.portfolio .nav-link.active{
    background-color: var(--main-colors);
    border: none !important;
    color: white;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.1);
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.project-card:hover .overlay{
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.overlay i{
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: 0.5s 0.1s;
    -webkit-transition: 0.5s 0.1s;
    -moz-transition: 0.5s 0.1s;
    -ms-transition: 0.5s 0.1s;
    -o-transition: 0.5s 0.1s;
    cursor: pointer;
}
.project-card:hover .overlay i{
    transform: scale(1) rotate(360deg);
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
}
.overlay i:hover{
    background-color: transparent;
    border: 1px solid white;
    color: var(--main-colors) !important;
}
.project-card .info{
    bottom: 40px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    opacity: 0;
}
.project-card:hover .info{
    bottom: 0;
    opacity: 1;
}

/* css resume*/
.resume .head i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.resume .head i:hover{
    background-color: white;
    color: var(--main-colors) !important;
}
.resume .head{
    position: relative;
}
.resume .head::before , .resume .item:not(:last-of-type):before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 25px;
    left: 18px;
    background-color: #333;
    z-index: -1;
}

.resume .item:not(.special):after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid var(--main-colors);
    top: 25px;
    left: 14px;
    background-color: white;
}
.resume .item:hover::after{
    background-color: var(--main-colors);
}
.resume .item:not(.special):hover::after{
    background-color: var(--main-colors);

}
.bar{
    height: 5px;
    background-color: #333;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.bar::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-colors);
    width: 80%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.item[percentage="80%"] h4{
    width: 80%;    
}
.item[percentage="80%"] .bar::after{
    width: 80%;
}
.item[percentage="70%"] h4{
    width: 70%;    
}
.item[percentage="70%"] .bar::after{
    width: 70%;
}
.item[percentage="55%"] h4{
    width: 55%;    
}
.item[percentage="55%"] .bar::after{
    width: 55%;
}
/* css download*/

.download-resume{
    background: linear-gradient(rgba(59,59,59,0.75),rgba(59,59,59,0.75)),url(../img/brandbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.download-resume p{
    font-family:  'Dosis', sans-serif;
    font-size: 32px;
}
.download-resume a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.download-resume a:hover{
    background-color: var(--main-colors);
    border-color: var(--main-colors) !important;
}
/*css testimonials*/
.testimonials .qoute span{
    color: #5b5b5b;
    font-size: 14px;

}
.testimonials .qoute i{
    font-size: 20px;
}
.testimonials .qoute:hover{
    background-color: #5b5b5b;
    
}
.testimonials .qoute:hover span{
    color: white;
}
.carousel-indicators {
    bottom: -100px;
}
.carousel-indicators [data-bs-target]{
    
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid var(--main-colors);
}
.carousel-indicators .active{
    background-color: var(--main-colors);
}
/*css contact*/
.contact{
    background:linear-gradient(rgb(255, 114, 76,0.85) , rgb(255, 114, 76)) ,url(../img/contactbg.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.w-65{
width: 65%;

}
.contact input:focus, .contact textarea:focus{
    border: 1px solid white !important;
    box-shadow: none;
}
.contact input::placeholder,.contact textarea::placeholder {
    color: white;
}
/* css  map*/
.contact-info .container{
    background-color: #282828;
}
.contact-info i{
    color: var(--main-colors);
    width: 30px;
    height: 30px;
    background-color: #f3f3f3;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    transition: 0.4s transform , 0.4s color;
    -webkit-transition: 0.4s transform , 0.4s color;
    -moz-transition: 0.4s transform , 0.4s color;
    -ms-transition: 0.4s transform , 0.4s color;
    -o-transition: 0.4s transform , 0.4s color;
}
.contact-info i:hover{
    color: white;
    background-color: var(--main-colors);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
/* css footer*/
footer p{
    font-family:'Raleway', sans-serif; 
    
    color: #818181 ;
}
footer{
    background-color: #f3f3f3;
}